
class1{
	color:red;
}

/*

You can set CSS weights with 5 different levels of styling:

base: CSS reset/normalize plus HTML element styling. Key assigns a weight of CSS_BASE = -200
layout: macro arrangement of a web page, including any grid systems. Key assigns a weight of CSS_LAYOUT = -100
component: discrete, reusable UI elements. Key assigns a weight of CSS_COMPONENT = 0
state: styles that deal with client-side changes to components. Key assigns a weight of CSS_STATE = 100
theme: purely visual styling (“look-and-feel”) for a component. Key assigns a weight of CSS_THEME = 200
*/